<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Library -->
      <package
            uri="eu.msdhn.eclipse.model.demo"
            class="eu.msdhn.modeledmo.Library.LibraryPackage"
            genModel="model/library.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated library -->
      <package
            uri="eu.msdhn.eclipse.model.demo"
            class="Library.LibraryPackage"
            genModel="model/library.genmodel"/>
   </extension>

</plugin>
